body {
  background: #141414;
  color: #fff;
}

.coinIcon{
  width: 5%;
}

@media (max-width: 1000px) {
  .coinIcon{
    width: 8%;
  }
}

@media (max-width: 768px) {
  .coinIcon{
    width: 14%;
  }
}

@media (max-width: 400px) {
  .coinIcon{
    width: 20%;
  }
}